# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# SQLite
*.sqlite3

# Secrets
.env
.env.*
!.env.example

# Media / static
mediafiles/
staticfiles/

# Virtual env
venv/
env/

# IDE
.vscode/
.idea/
.DS_Store

# Git
.git/
.gitignore