# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1

# PostgreSQL
POSTGRES_DB=newsblog_db
POSTGRES_USER=newsblog_user
POSTGRES_PASSWORD=newsblog_pass

# Django Database
DB_NAME=newsblog_db
DB_USER=newsblog_user
DB_PASSWORD=newsblog_pass
DB_HOST=db
DB_PORT=5432