# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class
*.so

# ==========================================
# Virtual Environments
# ==========================================

venv/
.venv/
env/

# ==========================================
# Environment Variables & Secrets
# ==========================================

.env
.env.*
!.env.example

.secrets/
certs/

# ==========================================
# Databases
# ==========================================

*.sqlite3

# ==========================================
# Django Static & Media Files
# ==========================================

media/
static_root/

staticfiles/*
!staticfiles/.gitkeep

mediafiles/*
!mediafiles/.gitkeep

# ==========================================
# Testing & Coverage
# ==========================================

.pytest_cache/
.tox/

.coverage
htmlcov/

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# IDEs & Editors
# ==========================================

.idea/
.vscode/

*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ==========================================
# Docker
# ==========================================

docker-compose.override.yml

# ==========================================
# Operating System Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Local Binaries
# ==========================================

tailwindcss-windows-x64.exe