<ul class="space-y-4">

    {% for article in articles %}
        <li class="bg-white rounded-xl shadow-sm p-5">

            <a
                href="{% url 'articles:article_detail' article.slug %}"
                class="text-xl font-semibold hover:text-blue-600 transition-colors"
            >
                {{ article.title }}
            </a>

            <div class="mt-2">
                <a
                    href="{% url 'articles:category_detail' article.category.slug %}"
                    class="text-sm text-gray-500 hover:text-blue-600"
                >
                    {{ article.category.title }}
                </a>
            </div>

        </li>

    {% empty %}

        <li class="text-gray-500">
            Материалов пока нет
        </li>

    {% endfor %}

</ul>