{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
    <h1>Все статьи</h1>

    {% if articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'articles:article_detail' article.slug %}">
                        {{ article.title }}
                    </a>
                    <a href="{% url 'articles:category_detail' article.category.slug %}">
                        {{ article.category.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Материалов пока нет</p>
    {% endif %}
{% endblock %}