{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>{% block title %} WebCraft {% endblock %}</title>

    <meta
            name="description"
            content="{% block meta_description %}WebCraft — онлайн-журнал о веб-разработке и современных технологиях. Читайте новости IT, статьи по Python, Django, JavaScript, Frontend и Backend разработке, обзоры инструментов, практические руководства и советы для разработчиков{% endblock %}"
    >

    <link
            rel="canonical"
            href="{{ request.build_absolute_uri }}"
    >

    {% block robots %}
    <meta name="robots" content="index,follow">
    {% endblock %}

    {% block og_type %}
    <meta property="og:type" content="website">
    {% endblock %}

    <meta
            property="og:title"
            content="{% block og_title %} WebCraft {% endblock %}"
    >

    <meta
            property="og:description"
            content="{% block og_description %}Новости, статьи и руководства по веб-разработке, Python, Django, JavaScript и современным технологиям{% endblock %}"
    >

    <meta
            property="og:url"
            content="{{ request.build_absolute_uri }}"
    >

    <meta
            property="og:site_name"
            content="WebCraft"
    >

    {% block og_image %}
    <meta
            property="og:image"
            content="{{ request.scheme }}://{{ request.get_host }}/static/images/og-default.png"
    >
    {% endblock %}

    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'images/favicon-32x32.png' %}">

    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'images/favicon-16x16.png' %}">

    <link rel="stylesheet" href="{% static 'css/tailwind.output.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="bg-gray-100 text-gray-900 min-h-screen flex flex-col">

{% include 'page_header.html' %}

<main class="flex-1">
    <div class="max-w-4xl mx-auto px-4 py-8">

        {% block content %}
        {% endblock %}

    </div>
</main>

{% include 'page_footer.html' %}

<script src="{% static 'js/mobile_menu.js' %}"></script>
{% block scripts %}{% endblock %}
<!--<script src="https://cdn.tailwindcss.com"></script>-->
<script src="https://unpkg.com/lucide@0.542.0/dist/umd/lucide.min.js"></script>
<script>
    lucide.createIcons();
</script>
</body>
</html>